<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crossword</title>
    <link rel="stylesheet" href="./css/primary.css">
</head>
<body>
    <div id="app">
        {{ name }}
        <ul v-if="mounted">
            <li v-for="word of words">
                <word-answer :answer="word"></word-answer>
            </li>
        </ul>

        <ul v-if="mounted" class="letter-holder">
            <li v-for="letter of letters">{{ letter }}</li>
        </ul>
        <button @click="shuffle">Shuffle</button>
    </div>
    <script src="../dist/script/app.bundle.js"></script>
</body>
</html>