<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crossword</title>
    <link rel="stylesheet" href="./css/primary.css">
</head>
<body>
    <header>
        <h1>Word Guessing Game</h1>
        <a href="https://github.com/jckuhl/crossword" target="_blank">View on Github!</a>
    </header>
    <div id="app" class="container">
        <ul v-if="mounted">
            <li v-for="(word, index) of words" :key="index">
                <word-answer 
                    :answer="word" 
                    :guess="guess"
                    @correct-guess="recieveCorrectGuess">
                </word-answer>
            </li>
        </ul>

        <input type="text" v-model="guess">
        <button @click="submitGuess">Guess!</button>

        <ul v-if="mounted" class="letter-holder">
            <li v-for="letter of letters">{{ letter }}</li>
        </ul>
        <button @click="shuffle">Shuffle</button>
    </div>
    <script src="../dist/script/app.bundle.js"></script>
</body>
</html>